dn: uid=viyaadmin,ou=users,{{OLCSUFFIX}}
cn: viyaadmin
givenName: Viya
sn: Admin
objectClass: top
objectclass: inetorgperson
objectClass: organizationalPerson
objectClass: posixaccount
loginshell: /bin/bash
uidNumber: 100000
gidNumber: 100000
homedirectory: /home/viyaadmin
userPassword: {{OLCROOTPW_ENC.stdout}}
mail: viyaadmin@{{CERT_LDAP}}
l: {{CERT_L}}
o: {{CERT_O}}
displayName: Viya Admin User

dn: cn=viyaadmin,ou=groups,{{OLCSUFFIX}}
objectClass: groupofnames
objectClass: top
objectClass: extensibleObject
displayName: Viya Administrator Accounts
name: VIYAADMIN
cn: viyaadmin
description: Viya Administrator Accounts
member: uid=viyaadmin,ou=users,{{OLCSUFFIX}}